.my_nav_bar {
    position: sticky;
    top: 0;
    z-index: 99999;
}

html {
    scroll-behavior: smooth;
}

#header {
    margin-bottom: 50px;
}

.size{
    height: 500px;
    width: 700px;
}

#video{
    width: 100%;
    height: 630px;
    
}

.achieve_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.achieve_head i{
    float: right;
}


.alumni{
    cursor: pointer;
}

.modal-content{
    margin-top: 100px;
}

.img-modal{
    display: inline-block;
}

.p_modal{
    margin-top: 10px;
}

#contact_us{
    margin-top: 70px;
}







































